@media (max-width: 768px){
    
.container-main {
    display: flex;
    background: transparent;
    flex-direction: column;
}
    
.user-scripts {
    width: 100vw;
    height: auto;

}
.editor-container {
    width: 100vw;
    height: 100vh;
    flex-grow: 1;
}
.chatbot-container {
    width: 100vw;
    height: 40vh;
    position: fixed !important;
    right: 0px !important;
    bottom: 0px !important;
    top: 60vh;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.toolbar-separator,
.page-counter,
.prompt-helper-section,
.site-header .token-watch-widget,
.auth-avatar,
.auth-forms .logo-image {
    display:none !important;
}

.site-header {
    flex-wrap: wrap;
    height: 6vh;
}

.site-brand {
    height: auto;
}

.container-main {
    margin-top: 0;
}

.chat-action-btn {
    position: absolute;
    right: 10px;
    top: 10px;
}
.chatbot-container.minimized {
    box-shadow: none !important;
    bottom: 10px !important;
    right: 10px !important;
    position: fixed !important;
    top: 90vh;
    left: 36vh;
}
.chatbot-container.minimized .chat-action-btn {
    position: relative !important;
}
.chatbot-container.minimized .chat-action-btn {
    width: 60px;
}
.side-panel-panel h3 {
    top: 10vh;
    right: 10px;
    display: none;
}

.title {
    font-size: 1.2rem !important;
    margin: 0 !important;
}

.site-header {
    padding: 3px;
}

.format-buttons-container {
    flex-wrap: wrap;
    width: 100%;
    flex-grow: 1;
}

.editor-toolbar {
    height: 11vh;
    flex-wrap: wrap;
    top: 6vh;
}

.public-script-view-header {
    padding: 0 10px;
}

.shared-topbar {
    height: 6vh;
}

}
