/* Button Base Styles */

button {
    padding: 0.5rem 1rem;
    background-color: var(--chat-ink);
    color: white;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 36px;
}

button:disabled {
    opacity: 0.265;
    cursor: not-allowed;
}

button.is-active,
button:hover:not(:disabled) {
    background-color: var(--accent-color);
    color: white;
}


/* Button Variations */

.button-set {
    display: flex;
    gap: 0.5rem;
}

.view-button.active {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: white;
}

.dynamic-button {
    background-color: var(--accent-color);
    color: white;
    height: auto;
}


/* Assistant Buttons */

.assistant-buttons {
    display: flex;
    gap: var(--spacing-sm);
    justify-content: flex-start;
    margin-bottom: 1rem;
    padding: 0.5rem;
    flex-wrap: wrap;
}

.icon-button {
    border-radius: 50%;
    width: 35px !important;
    height: 35px;
}