/* Chatbot Container */

.chatbot-container {
    background-color: var(--background-color);
}


/* Chat Controls */

.chat-controls {
    padding: var(--spacing-md);
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-sm);
    background-color: whitesmoke;
    height: var(--chat-controls-height);
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    gap: var(--spacing-sm);
}

.action-button {
    min-height: 36px;
    height: auto;
    line-height: 1.5;
    background: ghostwhite;
    border-radius: 20px;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.25);
    max-width: 48%;
}


/* Message Styles */

.chat-messages {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    max-height: 70%;
    overflow-y: auto;
}

.message {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.message.user {
    background-color: #e3f2fd;
}

.message.assistant {
    background-color: #cbffcb;
}

.message.error {
    background-color: #ffebee;
    color: #c62828;
}


/* Chat Textarea */

.chatbot-container textarea#user-input {
    width: 100%;
    resize: none;
    padding: var(--spacing-lg);
    border: none;
    border-radius: var(--border-radius-lg);
    outline: none;
    min-height: var(--chat-textarea-height);
    background-color: var(--textarea-background);
    color: var(--textarea-color);
    font-size: var(--font-size-md);
    transition: all var(--transition-normal);
    height: 15%;
}

.chatbot-container textarea:focus {
    background-color: var(--textarea-background-focus);
}