/* Chatbot Container */

.chatbot-container {
    background-color: var(--background-color);
}


/* Chat Controls */

.chat-controls {
    padding: var(--spacing-md);
    display: flex;
    gap: var(--spacing-sm);
    background-color: whitesmoke;
    height: var(--chat-controls-height);
}


/* Message Styles */

.chat-messages {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    padding: var(--spacing-md);
    max-height: 70%;
    overflow-y: auto;
}

.message {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 4px;
}

.message.user {
    background-color: #e3f2fd;
}

.message.assistant {
    background-color: #f5f5f5;
}

.message.error {
    background-color: #ffebee;
    color: #c62828;
}


/* Chat Textarea */

.chatbot-container textarea {
    width: 100%;
    resize: none;
    padding: var(--spacing-md);
    border: none;
    outline: none;
    min-height: var(--chat-textarea-height);
    background-color: var(--textarea-background);
    color: var(--textarea-color);
    font-size: var(--font-size-md);
    transition: all var(--transition-normal);
    height: 25%;
}

.chatbot-container textarea:focus {
    background-color: var(--textarea-background-focus);
}