.public-script-viewer__page .script-line:focus,
.public-script-viewer__page .script-line:focus-within,
.public-script-viewer__page .script-line.active {
    background-color: transparent !important;
}

.public-script-viewer__header {
    width: 8.5in !important;
    max-width: 100%;
    margin: 0 auto;
}
