    /* Container Layouts */
    
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    /* Form Layouts */
    
    .form-group {
        margin-bottom: 1rem;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 0.5rem;
    }
    
    input {
        padding: 0.5rem;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: var(--input-bg);
        color: var(--text-color);
    }
    
    .container-main {
        display: flex;
    }
    /* Vertical Layout */
    
    .vertical-layout .editor-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }
    
    .vertical-layout .chatbot-container {
        width: 20%;
        height: 100%;
        min-width: 300px;
        position: fixed;
        top: 120px;
        right: 0;
        z-index: 10001;
    }
    /* Horizontal Layout */
    
    body.horizontal-layout .container-main {
        flex-direction: row-reverse;
    }
    
    body.horizontal-layout .chatbot-container {
        width: 40vw;
        margin-left: 30vw;
    }
    
.container-main {
    display: flex;
    background: transparent;
    justify-content: space-between;
}
.navbar {
    height: 6vh;
}
.user-scripts {
    width: 300px;
    height: 94vh;
    position:fixed;
    left: 0;
    z-index: 1;
    padding: 10px;
    background: beige;

}
.editor-container {
    width: 100vw;
    height: 94vh;
    flex-grow: 1;
    z-index: 0;
}
.chatbot-container {
    width: 15vw;
    height: 97.5vh;
    position:fixed;
    right: 0;
    z-index: 1;
    overflow: visible;
}

    /* Rows and Columns */
    
    .row {
        display: flex;
        flex-direction: row;
    }
    
    .column {
        display: flex;
        flex-direction: column;
    }
    
    .col-50 {
        width: 50%;
    }
    
    .col-25 {
        width: 25%;
    }
    
    .col-75 {
        width: 75%;
    }