body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-md);
    line-height: 1.6;
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-heading);
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
    font-size: var(--font-size-md);
}

h1 {
    font-size: var(--font-size-xl);
}

h2 {
    font-size: var(--font-size-lg);
}

h3 {
    font-size: var(--font-size-md);
}

h4 {
    font-size: var(--font-size-sm);
}

h5 {
    font-size: var(--font-size-xs);
}
